# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
/build/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine.xcframework
/ios/Flutter/flutter_assets/
/ios/Pods/
/ios/Runner.xcworkspace
/ios/ServiceDefinitions.json
pubspec.lock

# Android related
/android/app/src/main/assets/flutter_assets/
/android/key.properties
/android/local.properties
/android/.gradle/
/android/app/build/
/android/build/
/android/app/release/
/android/app/profile/
/android/app/debug/

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws
